@import "../../../styles/index";

.empty-state {
  color: rgb(124 125 126);
  text-align: center;
  box-sizing: border-box;
  padding: get-spacing("xl");
  border: solid 1px get-color("border");
  border-radius: get-border-radius("xl");
  margin: get-spacing("xl");
}
