@import "../../../styles/index";

.button {
  background-color: get-color("button-primary");
  color: get-color("text");
  font-size: get-font-size("s");
  padding: get-spacing("m");
  border: none;
  border-radius: get-border-radius("xs");
  cursor: pointer;

  &--ghost {
    appearance: none;
    background-color: transparent;
    color: get-color("button-ghost");
    font-size: get-font-size("m");
    flex-shrink: 0;
    border: none;
    margin: get-spacing("m");
    cursor: pointer;
  }

  &--secondary {
    background-color: get-color("button-secondary");
    color: get-color("text-light");
    font-size: get-font-size("s");
    padding: get-spacing("m");
    border: none;
    border-radius: get-border-radius("m");
    margin: get-spacing("m");
    cursor: pointer;
  }
}
